<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletIndexTropical</servlet-name>
        <servlet-class>Controller.ServletIndexTropical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndexSunset</servlet-name>
        <servlet-class>Controller.ServletIndexSunset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndexStarPlus</servlet-name>
        <servlet-class>Controller.ServletIndexStarPlus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromeniLozinkuServlet</servlet-name>
        <servlet-class>Controller.PromeniLozinkuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilKlijentaServlet</servlet-name>
        <servlet-class>Controller.ProfilKlijentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervacijaServlet</servlet-name>
        <servlet-class>Controller.RezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSobeServlet</servlet-name>
        <servlet-class>Controller.UpdateSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSobeServlet</servlet-name>
        <servlet-class>Controller.DeleteSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSobeServlet</servlet-name>
        <servlet-class>Controller.InsertSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRezervacijuServlet</servlet-name>
        <servlet-class>Controller.DeleteRezervacijuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKlijentaServlet</servlet-name>
        <servlet-class>Controller.DeleteKlijentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromeniUloguServlet</servlet-name>
        <servlet-class>Controller.PromeniUloguServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIndexTropical</servlet-name>
        <url-pattern>/ServletIndexTropical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndexSunset</servlet-name>
        <url-pattern>/ServletIndexSunset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndexStarPlus</servlet-name>
        <url-pattern>/ServletIndexStarPlus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromeniLozinkuServlet</servlet-name>
        <url-pattern>/PromeniLozinkuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilKlijentaServlet</servlet-name>
        <url-pattern>/ProfilKlijentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervacijaServlet</servlet-name>
        <url-pattern>/RezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSobeServlet</servlet-name>
        <url-pattern>/UpdateSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSobeServlet</servlet-name>
        <url-pattern>/DeleteSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSobeServlet</servlet-name>
        <url-pattern>/InsertSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRezervacijuServlet</servlet-name>
        <url-pattern>/DeleteRezervacijuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKlijentaServlet</servlet-name>
        <url-pattern>/DeleteKlijentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromeniUloguServlet</servlet-name>
        <url-pattern>/PromeniUloguServlet</url-pattern>
    </servlet-mapping>
</web-app>
